/* Style for the checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e2e8f0;
  border-radius: 3px;
  border: 2px solid #e2e8f0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

/* Style for checked state */
input[type="checkbox"]:checked {
  background-color: #00dec1;
  border-color: #00dec1;
}

/* Style for the checkmark */
input[type="checkbox"]:checked::before {
  content: "✓";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.snackbar-success {
  background-color: #4caf50; /* Green for success */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* Red for error */
  color: white;
}
